.app {
  padding: 100px 100px;
}

.table-button {
  border-radius: 10px;
  height: 50px;
  width: 200px;
  margin-right: 25px;
  margin-bottom: 30px;
  font-family: "Press Start 2P", cursive;
  transition: 0.2s;
  cursor: pointer;
}

.table-button:hover {
  background-color: rgb(226, 160, 36);
  border: none;
}
