.person-details {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-details .list-group-item {
  padding: 0.25rem;
}

.person-details .list-group-item .term {
  margin-right: 0.5rem;
}

.person-name {
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  color: rgb(226, 160, 36);
  margin-bottom: 20px;
}
.term {
  color: #00bc8c;
}
