.header {
  margin-top: 0.5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 20px;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  font-family: "Press Start 2P", cursive;
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}
