.header {
  margin-top: 0.5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 20px;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  font-family: "Press Start 2P", cursive;
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.table-button {
  border-radius: 10px;
  height: 50px;
  width: 200px;
  margin-right: 25px;
  margin-bottom: 30px;
  font-family: "Press Start 2P", cursive;
  transition: 0.2s;
  cursor: pointer;
}

.table-button:hover {
  background-color: rgb(226, 160, 36);
  border: none;
}
